@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Slider {
  position: relative;
  display: flex;
  border: 1px solid red;
  width: 100%;
  height: 100vh;

  &__Slide {
    border: 1px solid blue;
    min-width: 100%;
    height: 100vh;
    transition: 0.5s;
    display: none;
  }
}
.active {
  display: inline;
}

#goLeft {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100px;
  height: 10vh;
}

#goRight {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100px;
  height: 10vh;
}
