@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Slider {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__Slide {
    min-width: 100%;
    height: 100vh;
    transition: 0.5s;
    display: none;

    &-img {
      height: 100vh;
      width: 100%;
    }
  }
}
.active {
  display: flex;
}

#goLeft {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100px;
  height: 10vh;
}

#goRight {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100px;
  height: 10vh;
}
