@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';
@import '../../../styles/mixins.scss';

.Slider {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__Slide {
    max-width: 100%;
    height: 100vh;
    transition: 0.5s;
    display: none;
    z-index: 90;

    &-deco {
      margin: -30% 0 0 25%;
      width: 50%;

      @include respond(desktop-big) {
        margin-top: -10%;
      }
    }

    &-img {
      position: relative;
      height: 100%;
      width: 100vw;
      max-width: 100vw;
      max-height: 100%;
      transition: 0.5s;
      animation: fadeIn 3s;
      object-fit: fill;
    }

    &-txt {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: $font-paragraph;
      font-size: $header-h1;
      width: 80%;
      text-align: center;
      color: $color-font-light;
    }
  }
}
.Container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 10rem;
  width: 90%;
  z-index: 99;
}
.span {
  display: inline-block;
  color: $color-font-light;
  right: 0;
  margin-top: 20rem;
  margin-left: 85rem;
  margin: 20rem 0 0 85rem;
  text-align: left;

  @include respond(tab-land) {
    margin-left: 65rem;
  }

  @include respond(tab-port) {
    margin-left: 5rem;
  }
  @include respond(desktop-big) {
    margin-top: 10rem;
  }
  @include respond(xsmall) {
    margin: 30rem 0 0 0;
  }
}

#goLeft {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100px;
  height: 10vh;
}

#goRight {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100px;
  height: 10vh;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
