@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Offer {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 8rem;
  z-index: 50;

  &__Content {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex: 1;
    z-index: 50;

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
      height: 30rem;
      width: 50rem;
      background-color: $color-third;
      box-shadow: 0 0 5px 3px $color-dark-opa;
      border-radius: 10px;
      z-index: 50;

      @include respond(tab-port) {
        // flex-direction: column;
        // flex-wrap: nowrap;
        // flex: 1;
        margin: 1rem auto;
      }
    }

    &::after {
      position: absolute;
      top: 25%;
      content: '';
      background-color: $color-card;
      width: 100%;
      height: 50%;
      z-index: 10;
      opacity: 0.6;

      @include respond(tab-port) {
        display: none;
      }
    }

    @include respond(tab-port) {
      flex-direction: column;
      flex-wrap: nowrap;
      flex: 1;
    }
  }
  &__Content:nth-child(even) {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-direction: row-reverse;
    z-index: 50;

    @include respond(tab-port) {
      flex-direction: column;
    }
  }
  &-img {
    width: 50%;
    z-index: 50;

    @include respond(tab-port) {
      width: 100%;
      z-index: 50;
    }
  }
}

.btn-offer {
  transition: cubic-bezier(0.68, 0.53, 0, 1) 0.5s;
}

.btn-offer:hover {
  background-color: $color-bacground;
  color: $color-font-dark;
  transform: translateY(-3px);
}
.btn-offer:active {
  transform: translateY(1px);
}

h3,
p {
  color: $color-font-light;
}
h3,
p {
  margin-bottom: 2rem;
}
p {
  padding: 0 2rem;
  letter-spacing: 1px;
}
