@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';
@import '../../../styles/mixins.scss';

.Offer {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../Images/tlo_oferta.png');

  &-h1 {
    color: $color-font-light;
    font-size: $header-h1;
    text-align: center;
    margin: 2rem 0 8rem 0;
    z-index: 999 !important;

    @include respond(desktop-small) {
      margin: 2rem 0 0 0;
    }
  }

  &__Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    z-index: 999;
    @include respond(desktop-xbig) {
      flex-direction: column;
    }

    @include respond(tab-port) {
      flex-direction: column;
    }
  }

  &__Content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 100;

    &-text {
      position: relative;
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      padding: 2rem 0 4rem 0;
      margin: 5px;
      text-align: center;
      transition: all 0.4s;
      opacity: 1;
      z-index: 100;
      word-wrap: break-word;
      white-space: normal;

      @include respond(desktop-xbig) {
        margin-top: 2rem;
      }

      @include respond(tab-port) {
        flex-direction: column;
        word-wrap: break-word;
        white-space: normal;
      }
      @include respond(phone) {
        margin: 4rem 0 2.2rem 0;
        word-wrap: break-word;
        white-space: normal;
      }
    }
    &-text > * {
      flex: 1 1 100%;
    }

    &-deco {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;

      @include respond(desktop) {
        top: 65%;
      }
      @include respond(desktop-small) {
        top: 63%;
      }
      @include respond(tab-land) {
        top: 63%;
      }
      @include respond(tab-port) {
        width: 55%;
      }
      @include respond(phone) {
        width: 65%;
      }
    }
    &-text:hover {
      transform: scale(1.1) translateX(-20px);
    }
    &-text:hover:first-of-type {
      transform: scale(1.1) translateX(35px);
    }
    &-text:hover:last-of-type {
      transform: scale(1.1) translateX(-35px);
    }

    @include respond(tab-port) {
      flex-direction: column;
      flex-wrap: nowrap;
      flex: 1;
    }
    &:hover &-text:not(:hover) {
      transform: scale(0.7) translate(-20px, 20px);
      opacity: 0.6;
    }
  }
  &-header {
    color: $color-font-light;
    font-size: $header-h2;
    padding: 0 5rem;
    margin: 8rem 0 2rem 0;
    text-transform: uppercase;
    word-wrap: break-word;
    word-break: break-word;
    @include respond(desktop-small) {
      font-size: $header-h3;
      margin-bottom: 1rem;
    }
    @include respond(tab-port) {
      word-wrap: break-word;
      word-break: break-word;
      white-space: normal;
    }
    @include respond(phone) {
      font-size: $header-h4;
      margin: 7rem 0 1rem 0;
      word-wrap: break-word;
      word-break: break-word;
      white-space: normal;
    }
  }
}

h1 {
  z-index: 999;
  word-wrap: break-word;
  white-space: normal;
}
h3,
p {
  margin-bottom: 1.2rem;
}
p {
  padding: 0 2rem;
  letter-spacing: 1px;
}

.btn2 {
  color: $color-btutton-second !important;
  transition: all 0.4s;
}
.btn2:hover {
  color: $color-hover-second !important;
}
