@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Offer {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-image: url('../../../Images/22.JPG');

  &__Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  &__Content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-text {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      padding: 50px;
      margin: 5px;
      text-align: center;

      border: 1px solid blue;
    }
    &-text > * {
      flex: 1 1 100%;
    }
    // @include respond(tab-port) {
    //   flex-direction: column;
    //   flex-wrap: nowrap;
    //   flex: 1;
    // }
  }
}

.btn-offer {
  transition: cubic-bezier(0.68, 0.53, 0, 1) 0.5s;
}

.btn-offer:hover {
  background-color: $color-bacground;
  color: $color-font-dark;
  transform: translateY(-3px);
}
.btn-offer:active {
  transform: translateY(1px);
}

h3,
p {
  color: $color-font-main;
}
h3,
p {
  margin-bottom: 2rem;
}
p {
  padding: 0 2rem;
  letter-spacing: 1px;
}
