@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Offer {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-image: url('../../../Images/22.JPG');

  &__Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  &__Content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-text {
      position: relative;

      flex: 1;
      display: flex;
      flex-wrap: wrap;
      padding: 50px;
      margin: 5px;
      text-align: center;
      transition: all 0.4s;
      opacity: 1;
    }
    &-text > * {
      flex: 1 1 100%;
    }

    &-deco {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40%;

      // @include respond(desktop) {
      //   top: 65%;
      // }
      @include respond(desktop-small) {
        top: 63%;
      }
      @include respond(tab-land) {
        top: 63%;
      }

      @include respond(tab-port) {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &-text:hover {
      transform: scale(1.1) translateX(-20px);
    }

    @include respond(tab-port) {
      flex-direction: column;
      flex-wrap: nowrap;
      flex: 1;
    }
    &:hover &-text:not(:hover) {
      transform: scale(0.7) translate(-20px, 20px);
      opacity: 0.6;
    }
  }
  &-header {
    color: $color-font-main;
    font-size: $header-h2;
    margin-bottom: 2rem;
    @include respond(desktop-small) {
      font-size: $header-h3;
      margin-bottom: 1rem;
    }
  }
}

.btn-offer {
  transition: cubic-bezier(0.68, 0.53, 0, 1) 0.5s;
  background: none;
  z-index: 999;
}

.btn-offer:hover {
  color: $color-font-dark;
  transform: translateY(-3px);
}
.btn-offer:active {
  transform: translateY(1px);
}

p {
  color: $color-font-main;
}
h3,
p {
  margin-bottom: 2rem;
}
p {
  padding: 0 2rem;
  letter-spacing: 1px;
}
