@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.About {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;

  &__Container {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // position: relative;
    width: 100rem;
    height: 58rem;
  }
  &__Content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 95%;
  }
  &__Photo {
    margin-top: 6rem;

    &-img {
      border-radius: 5px;
      width: 100%;
      opacity: 0.8;
      background-color: whitesmoke;
      box-shadow: 0 10px 6px -6px $color-dark-opa;
    }
  }
  &__Text {
    color: $color-font-dark;
    display: inline-block;

    &-header {
      text-align: center;
      margin-bottom: 2rem;
    }
    &-paragraph,
    &-header {
      color: $color-font-light;
    }
    &-paragraph {
      font-size: $font-normal;
      @include respond(tab-port) {
        font-size: $font-medium;
        left: 5rem;
      }
    }
    &-container {
      position: absolute;
      width: 58rem;
      z-index: 10;
      top: 45%;
      left: 65%;
      transform: translate(-50%, -50%);

      @include respond(tab-port) {
        width: 48rem;
      }
    }
  }
  &-decoration {
    position: relative;
    left: -39%;
    top: 4rem;
    width: 210%;
    z-index: 2;

    @include respond(tab-port) {
      left: -45%;
    }
    @include respond(tab-land) {
      left: -48%;
    }
  }
}
