@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/global.scss';

.About {
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-image: url('../../../Images/about.png');

  &__Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100rem;
    height: 58rem;
    margin-right: 10rem;

    @include respond(tab-port) {
      margin-right: 0;
    }

    &-header {
      color: $color-font-light;
      flex: 1 0 92%;
      align-self: center;
      text-align: center;
      z-index: 990;
      // @include respond(tab-port) {
      //   margin-top: 22rem;
      //   flex: 0 1 0;
      //   order: 1;
      // }
      // @include respond(phone) {
      //   margin-top: 0;
      // }
    }
  }
  &__Content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 80%;
    width: 55%;
    z-index: 990;
    @include respond(tab-port) {
      align-items: center;
      justify-content: center;
    }
  }

  &__Text {
    position: relative;
    flex: 1 0 100%;
    color: $color-font-light;
    display: inline-block;
    // box-shadow: 0 10px 6px $color-main-opa;
    border-radius: 15px;
    z-index: 990;

    &-container {
      border-radius: 15px;
      position: absolute;
      top: -40rem;
      left: 80%;
      width: 100%;
      height: 80%;
      z-index: 999;

      @include respond(desktop) {
        left: 55%;
      }
      @include respond(desktop-small) {
        left: 50%;
      }
      @include respond(tab-land) {
        top: -45rem;
      }
      @include respond(tab-port) {
        top: 0;
        left: 50%;
        position: initial;
      }
    }

    &-header {
      text-align: center;
    }
    &-paragraph {
      line-height: 1.3;
      font-size: $font-large;
      padding: 0 2rem;
      margin: 3rem;
      font-weight: 600;
      @include respond(tab-port) {
        font-size: $font-medium;
      }
    }
  }
}
