@import './settings.scss';
@import './mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Poiret+One&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font-paragraph;
}

html {
  /* 1rem = 10px; 16px - base font size  10px/16px = 62.5% */
  font-size: 62.5%;
  background-color: $color-bacground;
  font-weight: 100;
  scroll-behavior: smooth;

  @include respond(desktop-small) {
    font-size: 50%; // 1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 44%; // 1rem = 7px
  }
  @include respond(phone) {
    font-size: 37%; // 1rem = 6px
  }
}

/* headers */
h1,
h2,
h3,
h4 {
  color: $color-font-dark;
  font-weight: 100;
  font-family: $font-header;
}
h1 {
  font-size: $header-h1;
}

h2 {
  font-size: $header-h2;
  margin-bottom: 4rem;
}
h3 {
  font-size: $header-h3;
}

/* links */
a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
}

/* lists */
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* paragraph */
p {
  font-size: $font-normal;
  text-align: justify;
}

/* buttons */
.btn {
  font-size: $font-normal;
  font-weight: 700;
  background: $color-btutton-opa;
  border: none;
  border-radius: 5px;
  padding: 1.6rem 2.4rem;
  outline: none;
  cursor: pointer;
  color: $color-font-light;
}

.btn-offer {
  transition: cubic-bezier(0.68, 0.53, 0, 1) 0.5s;
  background: none;
  z-index: 999;
  color: $color-button-font;
}

.btn-offer:hover {
  color: $color-hover;
  transform: translateY(-3px);
}
.btn-offer:active {
  transform: translateY(1px);
}

/* after background */
.visible {
  display: flex;
  z-index: 90;
}

.visible::after {
  position: absolute;
  background: $color-dark;
  opacity: 0.5;
  height: 100vh;
  width: 100vw;
  content: '';
}
