@import './settings.scss';
@import './mixins.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  // background-color: $color-bacground;
}

html {
  /* 1rem = 10px; 16px - base font size  10px/16px = 62.5% */
  font-size: 62.5%;
  background-color: $color-bacground;

  @include respond(desktop-small) {
    font-size: 50%; // 1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 44%; // 1rem = 7px
  }
  @include respond(phone) {
    font-size: 37%; // 1rem = 6px
  }
}

/* headers */
h2 {
  font-size: $header-h2;
  margin-bottom: 4rem;
}
h3 {
  font-size: $header-h3;
}

/* links */
a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
  // color:$color-font-light;
}

/* lists */
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* paragraph */
p {
  font-size: $font-normal;
  text-align: justify;
}

/* buttons */
.btn {
  font-size: $font-medium;
  font-weight: 700;
  background: none;
  border: none;
  border-radius: 5px;
  padding: 1.6rem 2.4rem;
  outline: none;
  cursor: pointer;
}

.btn-offer {
  transition: cubic-bezier(0.68, 0.53, 0, 1) 0.5s;
}

.btn-offer:hover {
  background-color: $color-bacground;
  color: $color-font-dark;
  transform: translateY(-3px);
}
.btn-offer:active {
  transform: translateY(1px);
}
