/* colors */
$color-main: #fffcf8;
$color-main-opa: #fffcf8b6;
$color-bacground: #fffbfb;
$color-second: #767e84;
$color-second-opa: #767e8493;
$color-third-opa: #54432dcb;
$color-dark: #1c2439;
$color-dark-opa: #1c24398a;

// $color-contrast: #b9d8cb;
// $color-contrast-second: #61a48a;
// $color-white: #4B1D1D;
// $color-white: #54432d;
// $color-white: #AB586E;
// $color-white:#767E84;
// $color-white: #c29e5b;
// $color-white: #CF9C23;

$color-font-dark: #1c2439;
$color-font-main: #54432d;
$color-font-light: #fffcf8;
$color-font-contrast: #8dbfab;
$color-font-contrast-second: #c29e5b;
$color-font-hover: #ab586e;

$active-link: #e4940e;
$hover-link: #efc344;

$color-hover: #892f15;
$color-button-font: #892f15;
$color-button-second: #f2f3ee;

/* fonts */

$font-small: 1.2rem;
$font-medium: 1.4rem;
$font-normal: 1.6rem;
$font-large: 1.8rem;
$font-big: 2rem;

$header-h1: 2.8rem;
$header-h2: 2.6rem;
$header-h3: 2.4rem;
$header-h4: 2.2rem;

$font-family: 'Roboto', sans-serif;

/* Brakepoints */

$bp-desktop: 75em; // 1200px/16 = 75em rozdzielczosc/16px
$bp-deskot-small: 63em; // 1000px/16
$bp-tablet-landscape: 56em; // 900px
$bp-tablet-portrait: 48em; // 767px
$bp-phone: 37em; // 599px
$bp-xsmall: 31em; // < 500px
