/* colors */
$color-main: #fffcf8;
$color-main-opa: #fffcf8b6;
$color-bacground: #fffbfb;
$color-second: #767e84;
$color-second-opa: #767e8493;
$color-third: #4b1d1d;
$color-third-opa: #4b1d1daf;
$color-card: #cf9c23;
$color-dark: #233735;
$color-dark-opa: #233735c5;

// $color-contrast: #4D3D3C;
// $color-contrast-second: #233735;
// $color-white: #81C8C1;
// $color-white: #502D3D;
// $color-white: #525C54;
// $color-white:#5CC2A4;
// $color-white: #89D6C3;
// $color-white: #4C3B3A;
// $color-contrast: #EC66A8;
// $color-contrast-second: #EC82BA;
// $color-white: #BDE1DD;
// $color-white: #7DD3C6;
// $color-white: #D69FC5;
// $color-white:#767E84;
// $color-white: #8A7E7B;
// $color-white: #655B5A;
// $color-white: #B0A29B;
// $color-white: #4F4647;
// $color-white: #A5938A;

$color-font-dark: #4d3d3c;
$color-font-main: #54432d;
$color-font-light: #fffcf8;
$color-font-contrast: #ab586e;
$color-font-contrast-second: #c29e5b;
$color-font-hover: #ab586e;

// $active-link: #e4940e;
$hover-link: #cf9c23;

$color-btutton: #cf9c23;
$color-btutton-opa: #cf9b238f;
$color-hover: #892f15;
$color-button-font: #892f15;
$color-button-second: #fffcf8b6;

/* fonts */

$font-small: 1.2rem;
$font-medium: 1.4rem;
$font-normal: 1.6rem;
$font-large: 1.8rem;
$font-big: 2rem;

$header-h1: 2.8rem;
$header-h2: 2.6rem;
$header-h3: 2.4rem;
$header-h4: 2.2rem;

$font-family: 'Roboto', sans-serif;

/* Brakepoints */

$bp-desktop: 75em; // 1200px/16 = 75em rozdzielczosc/16px
$bp-deskot-small: 63em; // 1000px/16
$bp-tablet-landscape: 56em; // 900px
$bp-tablet-portrait: 48em; // 767px
$bp-phone: 37em; // 599px
$bp-xsmall: 31em; // < 500px
