@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Modal {
  &__Container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: rgba(153, 205, 50, 0.493);
  }
}
