@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Modal {
  &__Container {
    position: fixed;
    top: 0;

    width: 100%;
    height: 100vh;
    z-index: 999;
    overflow: hidden;
    background-color: $color-dark-opa;
  }
  &__Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    margin: 10rem auto;
    width: 80rem;
    height: 50rem;
    border-radius: 10px;
    background-color: $color-third-opa;
    z-index: 999;
  }
}

h2 {
  color: $color-font-light;
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
