@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Modal {
  &__Container {
    position: fixed;
    top: 0;

    width: 100%;
    height: 100vh;
    z-index: 999;
    overflow: hidden;
    background-color: $color-dark-opa;
  }
  &__Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    margin: 10rem auto;
    width: 80rem;
    height: 50rem;
    border-radius: 10px;
    background-color: $color-third-opa;
  }
}

h2 {
  color: $color-font-light;
}
