@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/global.scss';

.Modal {
  &__Container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    overflow: hidden;
    background-color: $color-dark-opa;
  }
  &__Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // padding: 5rem;
    margin: 5rem auto;
    width: 65%;
    height: 80%;
    border-radius: 10px;
    background-color: $color-third;
    z-index: 999;
    @include respond(desktop-xbig) {
      background-size: 85% 110%;
    }
    @include respond(phone) {
      background-size: 85% 115%;
    }

    &-text {
      width: 95%;
    }
  }
  &__Header,
  &__Paragraph,
  &__List {
    color: $color-font-main;
  }
  &__Header {
    color: $color-font-alt;
    @include respond(xsmall) {
      margin: 1rem 0;
    }
  }

  &__Paragraph {
    text-align: center;
    font-weight: 600;
    font-size: $font-large;
    @include respond(phone) {
      font-size: $font-medium;
    }
    @include respond(xxsmall) {
      font-size: $font-small;
    }
  }

  &__List {
    font-size: $font-large;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
