@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/global.scss';

.How {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../Images/tlo_jakdzialam.png');
  position: relative;

  &__Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
  }

  &__Content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 99;

    &-text {
      position: relative;
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      align-self: baseline;
      padding: 5rem 0;
      margin: 0 2px;
      text-align: center;
      color: $color-font-light;
      box-shadow: 0 8px 6px -6px $color-dark;
      border-radius: 15px;

      @include respond(tab-land) {
        flex: 33.333%;
      }
      @include respond(phone) {
        flex: 50%;
      }

      & p {
        color: $color-font-light;
        & a {
          color: $color-font-light;
        }
      }
    }
    &-deco {
      position: absolute;
      width: 110%;
      top: -1%;
      left: -5%;
      z-index: 15;

      @include respond(tab-land) {
        width: 80%;
        left: 10%;
        top: 0;
      }
      @include respond(phone) {
        width: 40%;
        left: 30%;
        top: 0;
      }
    }
    &-header {
      font-size: $header-h4;
      color: $color-font-light;
      // margin-bottom: 10rem;
      z-index: 20;

      @include respond(tab-land) {
        margin: 0 0 5rem 0;
      }
    }

    &-text > * {
      flex: 1 1 100%;
    }
  }

  &-h1 {
    color: $color-font-light;
    font-size: $header-h1;
    text-align: center;
    z-index: 999;
    @include respond(tab-land) {
      margin: 10rem 0 0 0;
    }
    @include respond(phone) {
      margin: 4rem 0 0 0;
    }
  }
}
