@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 8rem;
  background-color: $color-main-opa;
  box-shadow: 0 6px 6px -3px $color-dark-opa;

  z-index: 900;
}
