@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/global.scss';

.Contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: $color-main;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../../Images/tlo_kontakt.png');

  &__Container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    z-index: 99;

    @include respond(tab-port) {
      flex-direction: column-reverse;
    }
  }
  &__Header {
    display: flex;
    justify-content: flex-end;

    @include respond(tab-port) {
      margin-top: 16rem;
      justify-content: center;
      align-items: center;
    }
    @include respond(xsmall) {
      margin: 0;
    }
  }
  &__Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48rem;
    width: 45rem;
    border-radius: 15px;
    font-size: $font-normal;
    background-image: url('../../../Images/tlo_text-kontakt.png');
    background-size: 100% 140%;
    background-repeat: no-repeat;
    background-position: center;

    @include respond(tab-port) {
      height: 50vh;
    }

    padding: 0 2.5rem;
    &-photo {
      width: 20%;
      margin: 2rem 0;
    }
    &-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5rem;

      @include respond(tab-land) {
        font-size: $font-medium;
      }
      & a {
        font-size: 3rem;
        padding: 4px;
        color: $color-font-light;
        transition: all 0.2s;
      }
      & a:hover {
        color: $hover-link;
      }
    }
  }
  &-img {
    width: 100vh;

    @include respond(tab-port) {
      width: 50vh;
    }
  }

  &-paragraph {
    font-size: $header-h3;
    font-weight: 600;
  }
}
.icon {
  color: $hover-link;
  margin: 5px 0;
  @include respond(tab-land) {
    font-size: $font-medium;
  }
}
h3 {
  @include respond(tab-land) {
    font-size: $header-h4;
    margin: 2rem 0;
    padding: 1rem 0;
  }
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
