@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-size: $font-normal;
  font-family: $font-family;
  font-weight: 600;
  margin-right: 20rem;

  &__Nav-link {
    padding: 2rem;
    color: $color-font-dark;
    transition: 0.5s;
  }

  @include respond(tab-port) {
    display: none;
  }

  &__Nav-link:hover {
    color: $color-font-hover;
  }
  &-btn {
    position: relative;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto 1.5rem;
    cursor: pointer;

    @include respond(phonenav) {
      display: none;
    }
  }
}

span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: $color-font-dark;
}
