@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-size: $font-large;
  font-family: $font-family;
  font-weight: 600;
  margin-right: 20rem;
  @include respond(tab-land) {
    margin-right: 5rem;
  }

  &__Nav-link {
    margin-top: 1.8rem;
    padding: 0 2rem;
    color: $color-font-dark;
    transition: 0.5s;
    display: flex;
    transition: all 2s;
  }
  &__Nav-link.active {
    top: 1.8rem;
    position: absolute;
  }
  &ul li img {
    position: relative;
  }

  & a.active + img {
    display: inline-block;
    margin-left: -1rem;
    margin-top: 2rem;
    width: 16rem;
    transition: all 1s;
    opacity: 1;
  }

  & a + img {
    display: none;
    opacity: 0;
  }

  &__Icons {
    display: flex;
    flex-direction: column;

    & a {
      padding: 4px;
      color: $color-font-dark;
      transition: 0.5s;
    }
    & a:hover {
      color: $color-font-hover;
    }
  }

  &__Mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 65%;
    font-size: $font-big;
    font-family: $font-family;
    font-weight: 600;

    & .Navigation__Nav-link {
      color: $color-font-light;
      @include respond(tab-port) {
        display: flex;
        flex-direction: column;
      }
    }
    & ul {
      display: block;
    }
    &-icons {
      display: flex;
      & a {
        padding: 4px;
        color: $color-font-light;
      }
    }
  }

  @include respond(tab-port) {
    display: none;
  }

  &__Nav-link:hover {
    color: $color-font-hover;
  }
  &-btn {
    position: relative;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto 1.5rem;
    cursor: pointer;

    @include respond(phonenav) {
      display: none;
    }
  }
}

span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: $color-font-dark;
}
