@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-size: $font-normal;
  font-family: $font-family;
  font-weight: 600;
  margin-right: 20rem;

  &__Nav-link {
    padding: 2rem;
    color: $color-font-dark;
    transition: 0.5s;
  }
  &__Nav-link:hover {
    color: $color-font-hover;
  }
}
