@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.Footer {
  background-color: $color-second-opa;
  width: 100vw;
  position: fixed;
  bottom: 0;
  height: 3rem;
  z-index: 999;
  & p {
    font-size: $font-small;
    text-align: right;
    margin-top: 1rem;
    color: $color-font-light;

    & a {
      color: inherit;
      transition: all 0.2s;
    }
    & a:hover {
      color: $color-third;
    }
  }
}
